.proofIdentity__header > p {
  font-size: 1.3rem;
}

.proofIdentity__body {
  margin-top: 45px;
}

/* .proofIdentity__body > select {
  margin: 20px;
} */

.select {
  padding: 10px;
}

.select > select {
  background: none;
  border: none;
  color: #b7b7b7;
  font-size: 0.9rem;
  font-weight: 600;
}

.proofIdentity__body > form > p {
  margin-top: 60px;
}

.upload__id {
  border: 0.46px dashed #000;
  padding: 20px;
}
